## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
# from config import g_key
import sys
sys.path.append('../')
from config import g_key 

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mataura,NZ,-46.1927,168.8643,38.48,99,100,3.06,overcast clouds
1,1,Upernavik,GL,72.7868,-56.1549,38.91,91,19,12.86,few clouds
2,2,Dikson,RU,73.5069,80.5464,42.91,77,53,9.98,broken clouds
3,3,Udachnyy,RU,66.4167,112.4000,58.30,63,98,13.22,overcast clouds
4,4,Grand Gaube,MU,-20.0064,57.6608,68.38,74,3,3.00,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 80

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,Valleyview,CA,55.0667,-117.2859,73.00,49,62,6.98,broken clouds
8,8,Hobyo,SO,5.3505,48.5268,77.32,81,100,21.34,overcast clouds
9,9,Southbridge,US,42.0751,-72.0334,76.95,88,42,4.59,scattered clouds
10,10,Touros,BR,-5.1989,-35.4608,75.96,78,13,14.29,few clouds
13,13,Pokhara,NP,28.2333,83.9833,72.93,74,99,3.91,overcast clouds
15,15,Helong,CN,42.5397,128.9972,70.32,79,16,3.49,few clouds
21,21,Jamestown,US,42.0970,-79.2353,70.52,66,0,4.47,clear sky
23,23,Caxias,PT,38.7031,-9.2767,77.47,59,0,4.61,clear sky
30,30,Salalah,OM,17.0151,54.0924,76.87,95,100,6.44,light rain
36,36,Manolas,GR,38.0500,21.3500,73.29,77,0,5.75,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,Valleyview,CA,55.0667,-117.2859,73.00,49,62,6.98,broken clouds
8,8,Hobyo,SO,5.3505,48.5268,77.32,81,100,21.34,overcast clouds
9,9,Southbridge,US,42.0751,-72.0334,76.95,88,42,4.59,scattered clouds
10,10,Touros,BR,-5.1989,-35.4608,75.96,78,13,14.29,few clouds
13,13,Pokhara,NP,28.2333,83.9833,72.93,74,99,3.91,overcast clouds
15,15,Helong,CN,42.5397,128.9972,70.32,79,16,3.49,few clouds
21,21,Jamestown,US,42.0970,-79.2353,70.52,66,0,4.47,clear sky
23,23,Caxias,PT,38.7031,-9.2767,77.47,59,0,4.61,clear sky
30,30,Salalah,OM,17.0151,54.0924,76.87,95,100,6.44,light rain
36,36,Manolas,GR,38.0500,21.3500,73.29,77,0,5.75,clear sky

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Valleyview,CA,73.00,broken clouds,55.0667,-117.2859,
8,Hobyo,SO,77.32,overcast clouds,5.3505,48.5268,
9,Southbridge,US,76.95,scattered clouds,42.0751,-72.0334,
10,Touros,BR,75.96,few clouds,-5.1989,-35.4608,
13,Pokhara,NP,72.93,overcast clouds,28.2333,83.9833,
15,Helong,CN,70.32,few clouds,42.5397,128.9972,
21,Jamestown,US,70.52,clear sky,42.0970,-79.2353,
23,Caxias,PT,77.47,clear sky,38.7031,-9.2767,
30,Salalah,OM,76.87,light rain,17.0151,54.0924,
36,Manolas,GR,73.29,clear sky,38.0500,21.3500,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
       
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]

    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Valleyview,CA,73.00,broken clouds,55.0667,-117.2859,Paradise Inn & Suites
8,Hobyo,SO,77.32,overcast clouds,5.3505,48.5268,Iftin hotel hobyo
9,Southbridge,US,76.95,scattered clouds,42.0751,-72.0334,Southbridge Hotel & Conference Center
10,Touros,BR,75.96,few clouds,-5.1989,-35.4608,INN NEW HORIZON
13,Pokhara,NP,72.93,overcast clouds,28.2333,83.9833,OYO 170 Hotel View Point
15,Helong,CN,70.32,few clouds,42.5397,128.9972,Helong Hotel
21,Jamestown,US,70.52,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
23,Caxias,PT,77.47,clear sky,38.7031,-9.2767,Amazónia Jamor Hotel
30,Salalah,OM,76.87,light rain,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
36,Manolas,GR,73.29,clear sky,38.0500,21.3500,Royal Club Hotel

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
<!-- <dt>Max Temp</dt><dd>{Max Temp} °F</dd> -->
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))