## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
# from config import g_key
import sys
sys.path.append('../')
from config import g_key 

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Katsuura,JP,74.84,light rain,35.1333,140.3000,Katsuura Hotel Mikazuki
1,5,Dessau,DE,77.38,broken clouds,51.8386,12.2456,"Radisson Blu Fürst Leopold Hotel, Dessau"
2,13,Kieta,PG,77.79,broken clouds,-6.2167,155.6333,Uruna Bay Retreat
3,18,Mahebourg,MU,70.25,broken clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
4,22,Khao Wong,TH,77.16,moderate rain,16.7001,104.0902,ลำน้ำยังรีสอร์ท
5,24,Auki,SB,75.88,scattered clouds,-8.7676,160.7034,Auki Motel
6,26,Kapaa,US,77.32,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
7,28,Jamestown,US,73.94,few clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
8,30,Ode,NG,73.15,overcast clouds,7.7899,5.7117,OWONIDADDY HOTEL AND SUITES
9,33,Hilo,US,74.62,broken clouds,19.7297,-155.0900,Hilo Hawaiian Hotel

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
<!-- <dt>Max Temp</dt><dd>{Max Temp} °F</dd> -->
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Santa Fe"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Santa Fe"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Tambopata"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Novo Cruzeiro"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Castro"]

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0]

# print("Start", start)
# print("-----------")
# print("Stop 1", stop1)
# print("-----------")
# print("Stop 2", stop2)
# print("-----------")
# print("Stop 3", stop3)
# print("-----------")
# print("End", end)

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_route = gmaps.directions_layer(start, end, waypoints = [stop1, stop2, stop3], travel_mode="DRIVING")

fig.add_layer(vacation_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,483,Santa Fe,AR,71.01,light rain,-31.6333,-60.7000,Conquistador Hotel
1,269,Tambopata,PE,76.89,broken clouds,-12.7333,-69.1833,Enashawa Lodge
2,156,Novo Cruzeiro,BR,70.07,overcast clouds,-17.4681,-41.8753,Hotel Nossa Senhora das Graças
3,53,Castro,BR,70.43,overcast clouds,-24.7911,-50.0119,CHACARA BAILLY

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
<!-- <dt>Max Temp</dt><dd>{Max Temp} °F</dd> -->
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
# vacation_route = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING')
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# fig.add_layer(vacation_route)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))